:root {
  --main-font: 'DM Sans';
  --secondary-font: 'Rubik';
  --primary-text-color: #3d3d3f;
  --primary-white-color: #fff;
  --descr-color: #595959;
  --secondary-text-color: #646464;
  --thirty-text-color: #999999;
  --background-color: #f9faff;

  --card-set-gap: 30px;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
  /* others */
  --items: 3;
  --indent: 30px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
address {
  font-style: normal;
}
img {
  display: block;

  max-width: 100%;
  height: auto;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  margin: 0 auto;
  padding: 0 51px 0 75px;
  width: 1600px;
}
.btn {
  cursor: pointer;
  width: 118px;
  height: 42px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.77;

  color: var(--primary-white-color);
  border: none;
  background: linear-gradient(2.79deg, #f35f2f -13.68%, rgba(243, 95, 47, 0.75) 121.16%);
  opacity: 0.85;
  border-radius: 5px;
  transition: opacity var(--time) var(--time-function);
}
.btn:hover {
  opacity: 1;
  background: linear-gradient(2.79deg, #f3511b -13.68%, rgba(240, 84, 31, 0.75) 121.16%);
  transition: opacity var(--time) var(--time-function);
}
.nav {
  display: flex;
  background-color: tomato;
}
.header {
  background-color: aquamarine;
  display: flex;
  align-items: center;
}
.profile-group {
  display: flex;
  background-color: tomato;
  align-items: center;
}
.main {
  margin: 0 auto;
  padding: 0 51px 0 0px;
  width: 1600px;
  display: flex;
}
.main-contant {
  width: 900px;
  height: 900px;
  background-color: #f35f2f;
}
.right-aside {
  width: 900px;
  height: 900px;
  background-color: rgb(150, 164, 159);
}
